@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">App di esempio Azure Key Vault.</h1>
    <p><label>La mia fantastica super password segreta è: <b>@Model.Message</b></label></p>
</div>
